---
Checks:          '-*,
                  clang-diagnostic-*,
                  clang-analyzer-*,
                  cppcoreguidelines-*,
                  clang-analyzer-*,
                  bugprone-*,
                  readability-*,
                  performance-*,
                  -readability-else-after-return,
                  -readability-braces-around-statements,
                  -cppcoreguidelines-pro-type-vararg,
                  -bugprone-easily-swappable-parameters,
'
WarningsAsErrors: 'cppcoreguidelines-*,clang-analyzer-*,bugprone-*'
...

