on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

name: Unit testing

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test -- --color always --nocapture
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test -- --color always --nocapture
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  macos:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test -- --color always --nocapture
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  macos-arm:
    runs-on: macos-14 # macos-14 is an ARM runner
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test -- --color always --nocapture
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  freebsd:
    runs-on: ubuntu-latest # Ubuntu w/ FreeBSD-vm from vmactions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build and run tests
        id: freebsd
        uses: vmactions/freebsd-vm@v1
        with:
          prepare : |
            pkg install -y rust llvm
          run : |
            cargo build --verbose
            cargo test -- --color always --nocapture
            cargo clippy --all-targets --all-features -- -D warnings
  netbsd:
    runs-on: ubuntu-latest # Ubuntu w/ NetBSD-vm from vmactions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build and run tests
        id: netbsd
        uses: vmactions/netbsd-vm@v1
        with:
          prepare : |
            /usr/sbin/pkg_add -I rust llvm
          run : |
            cargo build --verbose
            cargo test -- --color always --nocapture
            cargo clippy --all-targets --all-features -- -D warnings
  openbsd:
    runs-on: ubuntu-latest # Ubuntu w/ OpenBSD-vm from vmactions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build and run tests
        id: openbsd
        uses: vmactions/openbsd-vm@v1
        with:
          prepare :
            pkg_add -I rust llvm
          run : |
            cargo build --verbose
            cargo test -- --color always --nocapture
            cargo clippy --all-targets --all-features -- -D warnings
